.order-summary-content {

    @media (min-width: $md) {
        &::after {
            content: "";
            display: block;
            clear: both;
        }

        .table-wrapper {
            width: calc(100% - 300px - 15px);
            float: left;
        }

        .cart-footer {
            width: 300px;
            float: left;
            margin-left: 15px;
        }
    }

    @media (min-width: $lg) {
        .table-wrapper {
            width: calc(100% - 365px - 15px);
        }

        .cart-footer {
            width: 365px;
        }
    }
}
